<div class="title-container">
    <h2 style="text-align: center;">Danh sách bài viết</h2>
</div>


{{#section 'css'}}
<style>
    .title-container {
        width: 60%;
        margin: auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }
</style>
{{/section}}