<div style="display: flex;flex-direction: column">
    <h1 style="text-align:center">Đổi mật khẩu</h1>
    <form style="width: 30%; margin:auto; padding-bottom: 30px; padding-top: 30px" method="POST" id="password-form">
        <div class="form-group input-1">
            <label for="inputPassword">Mật khẩu cũ</label>
            <input type="password" class="form-control" id="inputPassword">
            <div class="password-error"></div>
        </div>
        <div class="form-group input-2">
            <label for="inputNewPassword">Mật khẩu mới</label>
            <input type="password" class="form-control" id="inputNewPassword" name="password">
            <div class="new-password-error"></div>
        </div>
        <div class="form-group input-3">
            <label for="inputConfirmNewPassword">Nhập lại mật khẩu  mới</label>
            <input type="password" class="form-control" id="inputConfirmNewPassword">
            <div class="confirm-new-password-error"></div>
        </div>
        <div>
            <a href="/account/profile"><small>Về hồ sơ cá nhân</small></a>
        </div>
        <div style="text-align:center; margin-top: 40px">
            <button role="button" class="btn btn-primary check-btn">Lưu</button>
        </div>
    </form>
</div>

{{#section 'js'}}
<script>
    $(document).ready(function() {
        async function validate() {
            let hasError = false;
            $('.password-error').html('');
            $('.new-password-error').html('');
            $('.confirm-new-password-error').html('');

            const password = $('#inputPassword').val();
            if(!password) {
                $('.password-error').html('<small class="text-danger">Mật khẩu không được để trống</small>');
                hasError = true;
            } else {
                await $.ajax({
                    type: 'POST',
                    url: `/account/checkPassword`,
                    data: {
                        password,
                    },
                    success: function(data) {
                        if(!data.isCorrect) {
                            $('.password-error').html(`<small class="text-danger">Sai mật khẩu</small>`);
                            hasError = true;
                        }
                    },
                    error: function(error) {
                        if(error) {
                            console.log(error);
                        }
                    }
                })
            }

            const newPassword = $('#inputNewPassword').val();
            if(!newPassword) {
                $('.new-password-error').html('<small class="text-danger">Mật khẩu mới không được để trống</small>');
                hasError = true;
            } else if(newPassword.length < 8 || !newPassword.match(/\d/g)) {
                $('.new-password-error').html('<small class="text-danger">Password phải dài hơn 8 kí tự và có chứa ít nhất 1 chữ số</small>');
                hasError = true;
            }

            const confirmNewPassword = $('#inputConfirmNewPassword').val();
            if(confirmNewPassword !== newPassword) {
                $('.confirm-new-password-error').html('<small class="text-danger">Mật khẩu phải giống nhau</small>');
                hasError = true;
            }

            if(!hasError) {
                $('#password-form').off('submit').submit();
            } else {
                return false;
            }
        }

        $('#password-form').on('submit', (e) => {
            e.preventDefault();
            validate();
        })
    })
</script>
{{/section}}

{{#section 'css'}}
<style>
    
</style>
{{/section}}

{{#section 'title'}}Thay đổi mật khẩu{{/section}}