<form style="max-width: 300px;margin: auto;" method="POST" action="/auth/forgot-password">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Quên mật khẩu</h3>
            <hr>
            {{#if error}}
            <small>{{error}}</small>
            {{/if}}
            {{#if message}}
            <small>{{message}}</small>
            {{/if}}
            <div class="input-group">
                <span class="input-group-addon" id="email">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </span>
                <input type="email" class="form-control" placeholder="Email" aria-describedby="email" name="email">
            </div>
            <button type="submit" class="btn btn-info btn-block">Gửi email xác nhận</button>
        </div>
    </div>
</form>

{{#section 'title'}}Quên mật khẩu{{/section}}

{{#section 'css'}}
<style>
    h3 {
        margin-top: 4px;
    }

    .input-group {
        margin-bottom: 10px;
    }
</style>
{{/section}}