<form style="max-width: 300px;margin: auto;" method="POST" action="/auth/local">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Login</h3>
            <a href="/auth/register" class="btn btn-default" style="float: right;">Register</a>
            <a href="/auth/facebook" class="btn btn-primary btn-block">Facebook</a>
            <a href="/auth/google" class="btn btn-danger btn-block">Google</a>
            <hr>
            {{#if error}}
            <small>{{error}}</small>
            {{/if}}
            {{#if message}}
            <small>{{message}}</small>
            {{/if}}
            <div class="input-group">
                <span class="input-group-addon" id="email">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </span>
                <input type="email" class="form-control" placeholder="Email" aria-describedby="email" name="email">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="password">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input type="password" class="form-control" placeholder="Password" aria-describedby="password"
                    name="password">
            </div>
            <button type="submit" class="btn btn-info">Login</button>
            <a href="/auth/forgot-password" style="float: right;margin-top: 5px;">
                Forgot password?
            </a>
        </div>
    </div>
</form>

{{#section 'title'}}Login{{/section}}

{{#section 'css'}}
<style>
    h3 {
        margin-top: 4px;
        margin-bottom: 20px;
        display: inline-block;
    }

    .input-group {
        margin-bottom: 10px;
    }
</style>
{{/section}}