<form id="form" style="max-width: 300px;margin: auto;" method="POST" action="/auth/register">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Đăng ký</h3>
            <hr>
            {{#if error}}
            <small>{{error}}</small>
            {{/if}}
            <small id="error"></small>
            <div class="input-group">
                <span class="input-group-addon" id="full_name">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </span>
                <input type="text" class="form-control" placeholder="Tên" aria-describedby="full_name" name="full_name">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="email">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </span>
                <input type="email" class="form-control" placeholder="Email" aria-describedby="email" name="email">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="dob">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </span>
                <input type="date" class="form-control" aria-describedby="dob" name="dob">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="password">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input type="password" class="form-control" placeholder="Mật khẩu" aria-describedby="password"
                    name="password">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="password">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input type="password" class="form-control" placeholder="Xác nhận mật khẩu" aria-describedby="password"
                    name='confirm-password'>
            </div>
            <input type="hidden" name="recaptcha">
            <button id="submit" class="btn btn-info btn-block">Đăng ký</button>
        </div>
    </div>
</form>

{{#section 'title'}}Đăng ký{{/section}}

{{#section 'css'}}
<style>
    h3 {
        margin-top: 4px;
    }

    .input-group {
        margin-bottom: 10px;
    }
</style>
{{/section}}

{{#section 'js'}}
<script src="https://www.google.com/recaptcha/api.js?render=6LfwAb8ZAAAAAICWM1tUqlkzkmzWFAmlABrt0Gv9"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha
            .execute('6LfwAb8ZAAAAAICWM1tUqlkzkmzWFAmlABrt0Gv9', {
                action: 'submit',
            })
            .then(function (token) {
                console.log(token);
                $("[name='recaptcha']").val(token);
            });
    });
    $('#submit').click(function (e) {
        const password = $("[name='password']").val();
        const confirm = $("[name='confirm-password']").val();
        if (password !== confirm) {
            e.preventDefault();
            $("#error").text('Confirm password is incorrect.');
        } else {
            $("#error").empty();
            $("#form").submit();
        }
    });
</script>
{{/section}}