<form id="form" style="max-width: 300px;margin: auto;" method="POST" action="/auth/register">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Register</h3>
            <hr>
            {{#if error}}
            <small>{{error}}</small>
            {{/if}}
            <small id="error"></small>
            <div class="input-group">
                <span class="input-group-addon" id="full_name">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </span>
                <input type="text" class="form-control" placeholder="Full name" aria-describedby="full_name"
                    name="full_name">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="email">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </span>
                <input type="email" class="form-control" placeholder="Email" aria-describedby="email" name="email">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="dob">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </span>
                <input type="date" class="form-control" aria-describedby="dob" name="dob">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="password">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input type="password" class="form-control" placeholder="Password" aria-describedby="password"
                    name="password">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="password">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input type="password" class="form-control" placeholder="Confirm password" aria-describedby="password"
                    name='confirm-password'>
            </div>
            <button id="submit" class="btn btn-info btn-block">Register</button>
        </div>
    </div>
</form>

{{#section 'title'}}Register{{/section}}

{{#section 'css'}}
<style>
    h3 {
        margin-top: 4px;
    }

    .input-group {
        margin-bottom: 10px;
    }
</style>
{{/section}}

{{#section 'js'}}
<script>
    $('#submit').click(function (e) {
        const password = $("[name='password']").val();
        const confirm = $("[name='confirm-password']").val();
        if (password !== confirm) {
            e.preventDefault();
            $("#error").text('Confirm password is incorrect.');
        } else {
            $("#error").empty();
            $("#form").submit();
        }
    });
</script>
{{/section}}