<form style="max-width: 300px;margin: auto;" method="POST" action="/auth/reset-password">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Reset password</h3>
            <hr>
            {{#if error}}
            <small>{{error}}</small>
            {{/if}}
            {{#if message}}
            <small>{{message}}</small>
            {{/if}}
            <small id="error"></small>
            <div class="input-group">
                <span class="input-group-addon" id="password">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input type="password" class="form-control" placeholder="Password" aria-describedby="password"
                    name="password">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="password">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input type="password" class="form-control" placeholder="Confirm password" aria-describedby="password"
                    name="confirm-password">
            </div>
            <input type="hidden" name="code" value="{{code}}">
            <button id="submit" class="btn btn-info btn-block">Submit</button>
        </div>
    </div>
</form>

{{#section 'title'}}Reset password{{/section}}

{{#section 'css'}}
<style>
    h3 {
        margin-top: 4px;
    }

    .input-group {
        margin-bottom: 10px;
    }
</style>
{{/section}}

{{#section 'js'}}
<script>
    const params = new URLSearchParams(window.location.search);
    if ($("[name='code']").val() === '') {
        $("[name='code']").attr("value", params.get("code"));
    }
    $('#submit').click(function (e) {
        const password = $("[name='password']").val();
        const confirm = $("[name='confirm-password']").val();
        if (password !== confirm) {
            e.preventDefault();
            $("#error").text('Confirm password is incorrect.');
        } else {
            $("#error").empty();
            $("#form").submit();
        }
    });
</script>
{{/section}}