<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
     <ol class="breadcrumb">
        <li><a href="#">Category</a></li>
        <li><a href="#">Sub-cat1</a></li>
        <li><a href="#">Sub-cat2</a></li>
        <span style="float:right">Date</span>
    </ol>
    <h1>Title</h1>
    <p>Summary</p>
    <article>Content</article>
    <hr>
    <ul>
        <li>
            <a href="#">Relate post 1</a>
        </li>
        <li>
            <a href="#">Relate post 2</a>
        </li>
        <li>
            <a href="#">Relate post 3</a>
        </li>
    </ul>
    <hr>
     <ol class="breadcrumb">
        <li><a href="#">Tag 1</a></li>
        <li><a href="#">Tag 2</a></li>
        <li><a href="#">Tag 3</a></li>
    </ol>
    <h4>Comment</h4>
    <form>
        <span>
            <input placeholder="Type comment">
            <button>Send</button>
        </span>     
    </form>
    <br>
    <div>
        <p>
            <span>
                <a>Nickname</a>
            </span>
            Comment
        </p>
    </div>
    <div>
        <p>
            <span>
                <a>Nickname 2</a>
            </span>
            Comment 2
        </p>
    </div>

    <div>
    <ol class="breadcrumb">
        <li><a href="#">Category</a></li>
        <li><a href="#">Sub-cat1</a></li>
        <li><a href="#">Sub-cat2</a></li>
    </ol>
    <div class="row">
        <div class="col-md-4">
            <h4>Title</h4>
            <div class="row">
                <div class="col-md-5">
                    <img src="https://" alt="...">
                </div>
                <p class="col-md-7">Summary</p>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Title</h4>
            <div class="col-md-5">
                    <img src="https://" alt="...">
                </div>
                <p class="col-md-7">Summary</p>
        </div>
        <div class="col-md-4">
            <h4>Title</h4>
            <div class="col-md-5">
                    <img src="https://" alt="...">
                </div>
                <p class="col-md-7">Summary</p>
        </div>
    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>