 {{#section 'title'}}Thêm - Danh mục con - Trang Admin{{/section}}
<ol class="breadcrumb">
    <li><a href="/admin/subcategories">Danh mục con</a></li>
    <li class="active">Thêm</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Thêm danh mục con</h3>
    </div>
    <div class="panel-body">
        <form method="POST" action="" id="frmAdd">
            <div class="form-group">
                <label for="txtCategoryName">Tên danh mục con</label>
                <input type="text" class="form-control" id="txtName" name="name" autofocus>
                <p style="color:red" id="validateName"></p>
            </div>
            <div class="form-group">
                <label for="txtCategoryName">Chọn danh mục chính</label>
                <div class="row" style="margin-left: 0px; margin-right: 0px">
                    <div class="col-sm-9" style="padding-left:0px; padding-right: 0px">
                        <select class="form-control" name="category_id" id="txtNameCtg">
                            {{#each this.categories}}
                            <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-sm-3" style="padding-right:0px; text-align:right">
                        <a href="/admin/categories/add" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus-sign"></span> Thêm chuyên mục mới
                        </a>
                    </div>
                </div>
                <p style="color:red" id="validateCategory"></p>
            </div>
            <a href="/admin/subcategories" class="btn btn-success" role="button">
                <span class="glyphicon glyphicon-backward"></span>
            </a>
            <button type="submit" class="btn btn-primary" id="btn" {{#if this.empty}}disabled{{/if}}>
                <span class="glyphicon glyphicon-ok-circle"></span> Lưu
            </button>         
        </form>
    </div>
</div>

{{#section 'js'}}
<script>
    $(document).ready(function() {
        $('#txtNameCtg').prop('selectedIndex', -1);

        async function validate() {
            let hasError = false;
            $('#validateName').html("");
            $('#validateCategory').html("");
            const text = $('#txtName').val();

            if (!text) {
                $('#validateName').html("Tên danh mục không được bỏ trống!!!");
                hasError = true;
            } else {
                await $.ajax({
                    type: 'POST',
                    url: `/admin/subcategories/isAvailable`,
                    data: {
                        name: text,
                    },
                    success: function (data) {
                        if (!data.isAvailable) {
                            $('#validateName').html('Danh mục đã tồn tại!!!');
                            hasError = true;
                        }
                    },
                    error: function (error) {
                        if (error) {
                            console.log(error);
                        }
                    }
                })
            }

            const categoryName = $('#txtNameCtg').val();
            if(!categoryName) {
                $('#validateCategory').html("Danh mục chính không được để trống!!!");
                hasError = true;
            }

            if(!hasError) {
                $('#frmAdd').off('submit').submit();
            } else {
                return false;
            }
        }

        $('#frmAdd').on('submit', (e) => {
            e.preventDefault();
            validate();
        })
    })
</script>
{{/section}}