 {{#section 'title'}}Thêm - Danh mục con - Trang Admin{{/section}}
<ol class="breadcrumb">
    <li><a href="/admin">Trang chủ</a></li>
    <li><a href="/admin/subcategories">Danh mục con</a></li>
    <li class="active">Thêm</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Thêm danh mục con</h3>
    </div>
    <div class="panel-body">
        <form method="POST" action="" id="frmAdd">
            <div class="form-group">
                <label for="txtCategoryName">Tên danh mục con</label>
                <input type="text" class="form-control" id="txtName" name="name" autofocus>
                <p style="color:red" id="validateName"></p>

            </div>
            <div class="form-group">
                <label for="txtCategoryName">Chọn danh mục chính</label>
                <div class="row">
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtNameCtg" name="nameCtg" readonly>
                    </div>
                    <div class="col-sm-2">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" style="width: 100%;" type="button"
                                data-toggle="dropdown">Danh mục chính
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                {{#each this.categories}}
                                <li>
                                    <a class="dropdown-item" type="button">{{name}}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <a href="/admin/categories/add" class="btn btn-success btn-sm" role="button"
                            style="width: 100%;">
                            <span class="glyphicon glyphicon-plus-sign"></span> Thêm
                        </a>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="txtCategoryName">Status</label>
                <input type="text" class="form-control" id="txtIsExist" name="isDeleted" value="0" readonly>

            </div>
            <a href="/admin/subcategories" class="btn btn-success" role="button">
                <span class="glyphicon glyphicon-backward"></span>
            </a>
            {{#if this.empty}}
            <button type="submit" class="btn btn-primary" id="btn" disabled>
                <span class="glyphicon glyphicon-ok-circle"></span> Lưu
            </button>
            {{else}}
            <button type="submit" class="btn btn-primary" id="btn">
                <span class="glyphicon glyphicon-ok-circle"></span> Lưu
            </button>
            {{/if}}

        </form>
    </div>
</div>

{{#section 'js'}}
<script>
    var elements = document.getElementsByClassName('dropdown-item');

    Array.from(elements).forEach((element) => {
        element.addEventListener('click', (event) => {
            document.getElementById('txtNameCtg').value = `${event.target.innerText}`;
        });
    });


    function required(input) {
        if (input.value.length == 0) {
            return false;
        }
        return true;
    }

    var form = document.getElementById("frmAdd");

    form.addEventListener("submit", function () {
        var txtName = document.getElementById("txtName");
        if (!required(txtName)) {
            event.preventDefault();
            document.getElementById("validateName").innerHTML = "Tên danh mục không được bỏ trống!!!";
            txtName.focus();
        }

    }, true);
</script>
{{/section}}