 {{#section 'title'}}Thêm - Tag - Trang Admin{{/section}}
<ol class="breadcrumb">
        <li><a href="/admin">Trang chủ</a></li>
        <li><a href="/admin/tags">Tag</a></li>
        <li class="active">Thêm</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Thêm tag mới</h3>
    </div>
    <div class="panel-body">
        <form method="POST" action="" id="frmAdd">
            <div class="form-group">
                <label for="txtCategoryName">Tên nhãn</label>
                <input type="text" class="form-control" id="txtName" name="name" autofocus>
                <p style="color: red;" id="txtValidate"></p>
                
            </div>
            <div class="form-group">
                <label for="txtCategoryName">Trạng thái</label>
                <input type="text" class="form-control" id="txtIsExist" name="isDeleted" value="0" readonly>
                
            </div>
            <a href="/admin/tags" class="btn btn-success" role="button">
                <span class="glyphicon glyphicon-backward"></span>
            </a>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok-circle"></span> Lưu
            </button>
    
        </form>
    </div>
</div>

{{#section 'js'}}
<script>
    function required(input) {
        if (input.value.length == 0){
            return false; 
        }  	
        return true; 
    } 

    var form = document.getElementById("frmAdd");

    form.addEventListener("submit", function(){
        var txtName = document.getElementById("txtName");
        if(!required(txtName)){
            event.preventDefault();
            document.getElementById("txtValidate").innerHTML = "Tên nhãn không được bỏ trống!!!";
            txtName.focus();
        }
        
    }, true);
</script>
{{/section}}