 {{#section 'title'}}Chỉnh sửa - Tags - Trang Admin{{/section}}
<ol class="breadcrumb">
        <li><a href="/admin">Trang chủ</a></li>
        <li><a href="/admin/tags">Tag</a></li>
        <li class="active">Chỉnh sửa</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Chỉnh sửa tag</h3>
    </div>
    <div class="panel-body">
        <form method="POST">
            <div class="form-group">
                <label for="txtCategoryName">ID</label>
                <input type="text" class="form-control" id="txtID" name="id" readonly value={{this.tag.id}}>
                
            </div>
            <div class="form-group">
                <label for="txtCategoryName">Tên nhãn</label>
                <input type="text" class="form-control" id="txtName" name="name" autofocus value='{{this.tag.name}}'>
                
            </div>
            <div class="form-group">
                <label for="txtCategoryName">Trạng thái</label>
                <input type="text" class="form-control" id="txtIsExist" name="isDeleted" value={{this.tag.isDeleted}}>
                
            </div>
            <a href="/admin/tags" class="btn btn-success" role="button">
                <span class="glyphicon glyphicon-backward"></span>
            </a>
            <button type="submit" class="btn btn-primary" formaction="/admin/tags/update">
                <span class="glyphicon glyphicon-ok-circle"></span> Cập nhật
            </button>
            {{#if this.tag.isDeleted}}
            <button type="submit" class="btn btn-danger" disabled formaction="/admin/tags/delete">
                <span class="glyphicon glyphicon-remove-circle"></span> Xoá
            </button>
            {{else}}
            <button type="submit" class="btn btn-danger" formaction="/admin/tags/delete">
                <span class="glyphicon glyphicon-remove-circle"></span> Xoá
            </button>
            {{/if}}
        </form>
    </div>
</div>