<div style="display: flex; flex-direction:column; align-items:center;">
    <h1>404</h1>
    <h2 style="margin-bottom: 20px;">Không tìm thấy dường dẫn này</h2>
    <a class="btn btn-primary" href="/editor/posts">Về danh sách</a>
</div>

{{#section 'title'}}
Lỗi
{{/section}}