<ul class="nav nav-pills">
    <li class="active"><a href="/admin">Home</a></li>
    <li><a href="/admin/categories">Categories management</a></li>
    <li><a href="/admin/tags">Tags management</a></li>
    <li><a href="#">Posts management</a></li>
    <li>
        <a role="button" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Users management
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Editor</a></li>
            <li><a href="#">Writer</a></li>
            <li><a href="#">Subcriter</a></li>
        </ul>
    </li>
</ul>


<div align="center">
    <h1>hello admin</h1>
</div>
