 {{#section 'title'}}Trang chủ - Trang Admin{{/section}}


<ul class="nav nav-tabs nav-justified">
    <li><a href="/admin/categories">Danh mục chính</a></li>
    <li><a href="/admin/subcategories">Danh mục con</a></li>
    <li><a href="/admin/tags">Quản lý nhãn</a></li>
    <li><a href="/admin/posts">Quản lý bài viết</a></li>
    <li><a href="/admin/users">Quản lý người dùng</a></li>
</ul>


<div align="center">
    <h1>hello admin</h1>
</div>